[Unit]
Description=Dynamic DNS updater.

[Service]
EnvironmentFile=/etc/containers/envs/cloudflare-ddns.env

[Container]
Image=docker.io/favonia/cloudflare-ddns:latest
Network=host
User=1000:1000
ReadOnly=true
DropCapability=all
NoNewPrivileges=true
AutoUpdate=registry

[Service]
Restart=always
