[Container]
Image=docker.io/favonia/cloudflare-ddns:latest
Network=host
User=1000:1000
ReadOnly=true
DropCapability=all
NoNewPrivileges=true
Environment="CLOUDFLARE_API_TOKEN=YOUR_API_TOKEN"
Environment="DOMAINS=domain.com"
Environment="RESOLVER_ADDRESS=1.1.1.1:53" # Likely not needed
AutoUpdate=registry

[Service]
Restart=always
