[Unit]
Description=Dynamic DNS updater.

[Container]
Image=docker.io/favonia/cloudflare-ddns:latest
Network=host
User=1000:1000
ReadOnly=true
DropCapability=all
NoNewPrivileges=true
Environment="IP6_PROVIDER=none"
EnvironmentFile=cloudflare-ddns.env
AutoUpdate=registry

[Service]
Restart=always
