[Unit]
Description=Outdoor Speakers AirPlay Receiver.

[Container]
Image=docker.io/mikebrady/shairport-sync:latest
Pod=shairport-sync.pod
Network=host
AddDevice=/dev/snd
AddDevice=/dev/bus/usb/001/003
Volume=./resample_2.conf:/etc/asound.conf:ro:Z
Environment="SHAIRPORT_SYNC_DEVICE_ID=2"
Exec=shairport-sync -v --statistics -a "Outdoor Speakers" -- -d usb_dac2 -c PCM
AutoUpdate=registry

[Service]
Restart=always