[Unit]
Description=Pihole instance.

[Container]
Image=docker.io/pihole/pihole:latest
Pod=wirehole.pod
Environment="TZ=America/New_York"
EnvironmentFile=pihole.env
Volume=./pihole_data/pihole:/etc/pihole:Z
Volume=./pihole_data/dnsmasq.d:/etc/dnsmasq.d:Z
AutoUpdate=registry

[Service]
Restart=always
