[Unit]
Description=Unbound DNS

[Container]
Image=socker.io/klutchell/unbound:main
Network=pihole.network
IP=10.40.0.2
Name=unbound
AutoUpdate=registry

[Service]
Restart=always