[Unit]
Description=Unbound DNS

[Container]
Image=docker.io/klutchell/unbound:main
Pod=wirehole.pod
Volume=./config:/etc/unbound/custom.conf.d:Z
AutoUpdate=registry

[Service]
Restart=always