[Unit]
Description=Unbound DNS

[Container]
Image=docker.io/klutchell/unbound:main
Pod=wirehole.pod
Volume=./unbound.conf:/etc/unbound/custom.conf.d/unbound.conf:Z
AutoUpdate=registry

[Service]
Restart=always